

body {
 background-image: url("./images/harness-login-bg.jpg");
 background-color: #FFFFFF;
}
input {
  text-align: center;
}
.button-primary {
    color: #5e5e5e;
    background-color: #fbfbfb;
    background: -o-linear-gradient(top, #fbfbfb 0, #f8f8f8 100%);
    background: -ms-linear-gradient(top, #fbfbfb 0, #f8f8f8 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#f8f8f8));
    background: linear-gradient(#fbfbfb, #f8f8f8);
    border-color: #c3c3c3 #c3c3c3 #bbb;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .05), inset 0 1px 0 0 hsla(0, 0%, 100%, .1);
}


@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400);

.container {
    width: 400px;
    padding: 10px;
}

.message-blue {
    position: relative;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #A8DDFD;
    width: 200px;
    height: 50px;
    text-align: left;
    font: 400 .9em 'Open Sans', sans-serif;
    border: 1px solid #97C6E3;
    border-radius: 10px;
}

.message-orange {
    position: relative;
    margin-bottom: 10px;
    margin-left: calc(100% - 240px);
    padding: 10px;
    background-color: #f8e896;
    width: 200px;
    height: 50px;
    text-align: left;
    font: 400 .9em 'Open Sans', sans-serif;
    border: 1px solid #dfd087;
    border-radius: 10px;
}

.message-content {
    padding: 0;
    margin: 0;
}

.message-timestamp-right {
    position: absolute;
    font-size: .85em;
    font-weight: 300;
    bottom: 5px;
    right: 5px;
}

.message-timestamp-left {
    position: absolute;
    font-size: .85em;
    font-weight: 300;
    bottom: 5px;
    left: 5px;
}

.message-blue:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 15px solid #A8DDFD;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    top: 0;
    left: -15px;
}

.message-blue:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 17px solid #97C6E3;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    top: -1px;
    left: -17px;
}

.message-orange:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 15px solid #f8e896;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    bottom: 0;
    right: -15px;
}

.message-orange:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 17px solid #dfd087;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    bottom: -1px;
    right: -17px;
}

