a, abbr, acronym, address, applet, b, big, blockquote, body, caption, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, u, ul, var {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    background: transparent;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:after, blockquote:before, q:after, q:before {
    content: "";
    content: none;
}
:focus {
    outline: 0;
}
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
input[type=hidden] {
    display: none!important;
}
input[type=checkbox], input[type=radio] {
    border: 0!important;
    margin: 0;
    padding: 0;
}
html {
    height: 100%}
body {
    position: relative;
    font-family: proxima nova, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    background-color: #f9f9f9;
    min-width: 100%;
    min-height: 100%;
    color: #777;
    overflow: auto;
}
.back-to-settings {
    margin: 5px auto;
    width: 400px;
    min-width: 300px;
    min-height: 20px;
}
@media only screen and (max-height:750px) {
    .back-to-settings span.back-to-settings-link {
    position: relative;
    top: 0;
}
}.back-to-settings .back-to-settings-link {
    position: absolute;
    top: 100px;
}
.back-to-settings a {
    color: #0074b3;
    text-decoration: none;
}
#harness-sign-in .unsupported-message {
    padding: 21px 55px 37px;
    text-align: center;
}
#harness-sign-in .unsupported-message p {
    padding-bottom: 20px;
}
#harness-sign-in .unsupported-message a.button {
    display: block;
}
#harness-sign-in .idp-piv-button.link-button {
    color: #1662dd;
    border: 2px solid #1662dd;
    background-color: #fff;
}
#harness-sign-in .idp-piv-button.link-button:active, #harness-sign-in .idp-piv-button.link-button:focus, #harness-sign-in .idp-piv-button.link-button:hover {
    color: #124a94;
    border-color: #124a94;
    background-color: #e5edfb;
}
#harness-sign-in .auth-footer .help {
    color: #0074b3;
}